---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1
    class="text-5xl md:text-6xl font-black text-purple-800 text-center mb-16 select-none mt-20 drop-shadow-lg"
  >
    Menu
  </h1>

  <nav class="mt-20">
    <ul class="flex flex-col gap-8 justify-center items-center">
      <li>
        <a
          href="/species/Adelie"
          class="text-xl font-semibold text-purple-50 bg-gradient-to-r from-purple-500 to-fuchsia-500 hover:from-purple-600 hover:to-fuchsia-600 px-6 py-3 rounded-xl shadow-lg transition-all duration-200 transform hover:scale-105"
          >Manchot Adélie</a
        >
      </li>
      <li>
        <a
          href="/species/Chinstrap"
          class="text-xl font-semibold text-purple-50 bg-gradient-to-r from-purple-500 to-fuchsia-500 hover:from-purple-600 hover:to-fuchsia-600 px-6 py-3 rounded-xl shadow-lg transition-all duration-200 transform hover:scale-105"
          >Manchot Chinstrap</a
        >
      </li>
      <li>
        <a
          href="/species/Gentoo"
          class="text-xl font-semibold text-purple-50 bg-gradient-to-r from-purple-500 to-fuchsia-500 hover:from-purple-600 hover:to-fuchsia-600 px-6 py-3 rounded-xl shadow-lg transition-all duration-200 transform hover:scale-105"
          >Manchot Gentoo</a
        >
      </li>
      <li>
        <a
          href="/test-iframe"
          class="text-xl font-semibold text-purple-50 bg-gradient-to-r from-purple-500 to-fuchsia-500 hover:from-purple-600 hover:to-fuchsia-600 px-6 py-3 rounded-xl shadow-lg transition-all duration-200 transform hover:scale-105"
          >Iframe</a
        >
      </li>
    </ul>
  </nav>
</Layout>
